<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" type="text/css" href="/public/home-styling-desktop.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
	<% include partials/header.ejs %>
	<div id = "body-div">
		<% include partials/filter.ejs %>
		<img src = "/public/images/noresultsfound.png" style = "vertical-align:top;margin-top:50px;margin-left:10%">
		<% include partials/footer.ejs %>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src = "/public/js/animations.js"></script>
</body>
</html>
